@page
@model MoodApp.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}


<h1>Home Screen</h1>
<div class="text-center" id="_createPostView">
    @{
        await Html.RenderPartialAsync("Users/_CreatePost", HomeModel.createPost);
    }
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
